*{
    color: #4ABACC;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: sans-serif;
    background: #DEF8FF;
}
.header{
    height: 80px;
    width: 100%;
    background: #2F747F;
    display: flex;
    flex-direction: row;
}
.the-faces input{
    margin:auto;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}



.the-faces input:active + .faces{opacity: .9;}
.the-faces input:checked + .faces{
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}
.faces{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:110px;
    height:110px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
    margin-left: 35px;
}
.faces:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}
.other input{
    -webkit-appearance: none;
}
/* Extras */
a:visited{color:##1C454C}
a{color:#1C454C;text-decoration:none;}



.the-faces{
    min-width: 350px;
    margin: 5% 0 0 33%;
    max-width: 350px;
    margin: auto;
}
input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;

    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;

    /*required for proper track sizing in FF*/
    width: 300px;
    margin-left: 25px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 250px;
    height: 50px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 60px;
    width: 16px;
    background: black;
    margin-top:-5px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 250px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 40px;
    background: black;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 50px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
.toggler{
    margin-top: 10px;
    font-size: 12px;
    cursor: pointer;
    margin-left: 10px;
}

.loginStuff{
    height: 30%;
    width: 40%;
    min-width: 300px;
    margin: 40px auto;
}

.loginInputs{
    height: 40px;
    width: 80%;
    margin: 10px;
    font-size: 20px;
}

.loginSubmit{
    border-radius: 5px;
    background: #236B7F;
    height: 30px;
    width: 60px;
    margin-left: 10px;
    text-align: center;
}

.timeButton{
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 5px;
    background: #236B7F;
    font-size: 20px;
    box-shadow: none;
}
.timeText{
    color: #4ABACC;
    margin: auto;
    text-align: center;

}
.timesContain{
    width: 350px;
    margin: 40px auto;
}
.question{
    text-align: center;
    font-size: 50px;
}
.buttonContain{
    width: 150px;
    margin: auto;
}

.conTop{
    width: 350px;
    margin: 20px auto;
}

.details{
    text-align: center;
}
.wholeCon{
    width: 350px;
    min-width: 350px;
    margin: auto;
}
.consistency{
    width: 350px;
    margin: 20px auto;
}

.conLabelOne{
    position: absolute;
    margin: 60px 0 0 30px ;
}

.conLabelTwo{
    position: absolute;
    margin: 0 0 15px 305px ;
}
.conIndicator{
    position: absolute;
    font-size: 30px;
    margin: 30px 0 0 -10px;
}


.conSubmit{
    text-align: center;
    margin-top: 20px;
    margin-left: 125px;
    background: #236B7F;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;

}

.submitLink{
    text-decoration: none;
    color: #4ABACC;
    background: #236B7F;
}

.appName{
    padding: 0 0 0 15px;
}
.conQuestion{
    margin:10px auto;
    text-align: center;
}

.stomachContain{
    width: 350px;
    margin: auto;
}

.dataContain{
    width: 350px;
    text-align: center;
    margin:40px auto;
}

.dataLink{

}



.chart {
    width: 1000px;
    height: 500px;
    font-size: 15px;
}

.pageOneLinks{
    width: 300px;
    height: 40px;
    margin-left: 60%;
}

.pageLink{
    text-align: center;
    width: 200px;
    margin-top: 20px;
    background: #236B7F;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 25px;
}
.pageLinks{
    width: 100%;
    margin: 0 auto;
}
.lastWeek{
    text-align: center;
    width: 100px;
    background: #236B7F;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    margin: 20px;
}
.not-goods {
    background-image: url(images/notgood.png);
    background-size: 100% 100%;
    height: 120px;
    width: 120px;
    border-radius: 90px;
    background-color: #DEF8FF;
}
.ok {
    background-image: url(images/ok.png);
    background-size: 100% 100%;
    height: 120px;
    width: 120px;
    border-radius: 90px;
    background-color: #DEF8FF;
}
.good {
    background-image:url(images/good.png);
    background-size: 100% 100%;
    height: 120px;
    width: 120px;
    border-radius: 90px;
    background-color: #DEF8FF;
}
.great {
    background: url(images/great.png);
    background-size: 100% 100%;
    height: 120px;
    width: 120px;
    border-radius: 90px;
    background-color: #DEF8FF;
}

@media only screen and (max-device-width: 430px){
    .appName{
        font-size: 80px;
        margin-top: 0;
    }

    .loginStuff{
        height: 400px;
        width: 80%;
    }

    .create{
        font-size: 150px;

    }
    .loginInputs{
        height: 70px;
        width: 80%;
        margin: 10px;
        font-size: 40px;
    }
    .loginContain{
        margin: 0 auto;
    }
    .loginSubmit{
        height: 70px;
        width: 200px;
        font-size: 40px;
        margin: 10px 0;
    }
    .toggler{
        font-size: 30px;
        margin-top: 30px;
    }
    .timeButton{
        height: 120px;
        width: 120px;
        font-size: 60px;
    }
    .buttonContain{
        width: 300px;
        margin: auto;
    }
    .question{
        font-size: 75px;
    }
    .conIndicator{
        font-size: 50px;
        margin: 20px 0 0 -33px;
    }
    .conLabelOne{
        font-size: 30px;

    }
    .conLabelTwo{
        font-size: 30px;
    }

    .conQuestion{
        margin: 30px 0 0 20px;
        font-size: 25px;
    }
    .details{
        font-size: 30px;
    }

    .conSubmit{
        height: 70px;
        width: 50%;
        font-size: 45px;
        margin-left:25% ;
    }
    .faces{
        height: 150px;
        width: 130px;
        margin: 9px;
    }

    .dataContain {
        width: 400px;
    }
    .dataSub{
        font-size: 30px;
    }
    .dataDate{
        font-size: 60px;
    }

    .dataTitle{
        font-size: 45px;
    }
    .dataLink{
        font-size: 60px;
    }
    .header{
        height: 100px;
    }
    .pageLink{
        width: 200px;
    }

}

