*{
    color: #E8A69D;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: sans-serif;
    background: #BCFFF5;
}
.timesChoice{
    margin: 10% 0 10% 33%;
}
.timesContain{
    width: 33%;
    height: 200px;
    margin: 0 0 0 33%;
}
.the-faces{
    min-width: 300px;
    margin: 5% 0 0 33%;
    max-width: 300px;
}
 .dataContain{
     margin: 10px 0 0 20px;
     width: 300px;
     border: 1px solid black;
     padding: 10px;
     color: white;

 }

 .dataSub{
     margin: 0 0 0 20px;
     color: white;
 }

.header{
    height: 10%;
    width: 100%;
    background: #FF5550;
}

.the-faces input{
    margin:0;padding:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}
.not-good{background-image:url(images/notgood.png);
    height: 30px;
    width: 30px;
}
.ok{background-image:url(images/ok.png);
    height: 30px;
    width: 30px;
}

.good{background: url(images/good.png);
    height: 30px;
    width: 30px;
}
.great{background: url(images/great.png);
    height: 30px;
    width: 30px;
}


.the-faces input:active + .faces{opacity: .9;}
.the-faces input:checked + .faces{
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}
.faces{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}
.faces:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}
.other input{
    -webkit-appearance: none;
}
/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}

.contain{
    width: 40%;
    height: 20%;
    text-align: center;
}


.submit{
    margin: 5% 0 0 33%;
    height: 30px;
    width: 33%;
    font-family: sans-serif;
    font-size: 20px;
    min-width: 80px;
    text-align: center;
    background: #93FF98;
    border-radius: 5px;
    box-shadow: 3px;

}

.question{
    font-family: sans-serif;
    font-size: 30px;
    margin: 2% 0 5% 0;
    text-align: center;
}

.consistency{
    display: inline-block;
}

.o1{
    float: left;
}

.o2{
    float: left;
}

.o3{
    float: left;
}

.timesChoice{
    width: 100px;
    height: 20px;
    text-align: center;
    font-family: sans-serif;
}

.consistency{
    margin: 5% 0 0 33%;
    height: 150px;
    width: 33%;
    display: block;
    min-width: 212px;
}

@media screen and (max-width: 1000px){
    .consistency{
        width: 89%;
        height: 25px;
        margin: 5% 0 5% 25%;

    }

    .question{
        font-size: 80px;

    }
    .submit{
        width: 33%;
        height: 60px;
        font-size: 50px;
    }

    .good{
        height: 115px;
        width: 115px;
    }
    .not-good{
        height: 115px;
        width: 115px;
    }
    .great{
        height: 115px;
        width: 115px;
    }
    .ok{
        height: 115px;
        width: 115px;
    }
    .the-faces{
        width: 290px;

    }

    .timesChoice{
        width: 33%;
        margin: 15% 33% 5% 33%;
        height: 50px;
        font-size: 50px;
    }
    select{
        height: 50px;
        line-height: 50px;
    }
}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;

    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;

    /*required for proper track sizing in FF*/
    width: 300px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 50px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 60px;
    width: 16px;
    background: black;
    margin-top:-5px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 40px;
    background: black;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 50px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
.login{
    width: 33%;
    height: 33%;
    margin: 0 0 0 33%;
}

.loginInput{
    height: 30px;
    width: 150px;
    border-radius: 5px;
}

.loginSubmit{
    height: 30px;
    width: 90px;
    border-radius: 5px;
    font-size: 18px;
    background: #93FF98;
}

.chart {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    margin: 60px auto;
    position: relative;
}

.y {
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: bottom left;
    bottom: 0;
    padding: 5px;
}

.x {
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 5px;
}

.bar {
    background: blue;
    position: absolute;
    bottom: 0;
}