<div class="pageLinks">
    <button class="pageLink"><a class="submitLink" href="/#/charts">View Chart</a></button>
    <button class="pageLink"><a class="submitLink" href="/#/pageOne">Record Data</a></button>
</div>
<div ng-controller="dataCtrl">
    <div class="dataContain">

            <div ng-repeat="item in data">
                <h2  class="dataDate">{{item.$id}}</h2>
                        <p class="dataSub">Number of time: {{item.times.times}}</p>
                       <p  class="dataSub" ng-repeat="c in item.consistency"> Consistency of #{{$index + 1}}: {{c.value}}</p>
                        <p class="dataSub">Stomach rating: {{item.stomach.stomach}}</p>
                    </div>
        </div>
    </div>
</div>
