<div ng-controller="loginCtrl" class="login">

  <div >
    <h1>Create Account</h1>
       <form  ng-submit="createUser()">
            <input class="loginInput" type="text" placeholder="email" ng-model="user.name"/>
            <input class="loginInput" type="password" placeholder="password" ng-model="user.PW"/>
            <button class="loginSubmit">submit</button>
      </form>
    </div>

    <h1>Login</h1>

    <div>
        <form ng-submit="loginUser()" >
            <input class="loginInput" type="text" placeholder="email" ng-model="user.email"/>
            <input class="loginInput" type="password" placeholder="password" ng-model="user.password"/>
            <button class="loginSubmit">Login</button>
        </form>

    </div>
</div>