<div ng-controller="loginCtrl" class="login">
    <div class="loginStuff" ng-show="showRegister">
       <form class="loginContain" ng-submit="createUser()">
        <h1 class="create">Create Account</h1>
           <input class="loginInputs" type="text" placeholder="email" ng-model="user.email"/><br/>
           <input class="loginInputs" type="password" placeholder="password" ng-model="user.password"/><br/>
            <button class="loginSubmit">submit</button>
      </form>
    <p class="toggler" ng-click="toggleRegister()">Back to Login</p>
    </div>

    <div class="loginStuff" ng-show="!showRegister">
    <form class="loginContain" ng-submit="loginUser()" >
    <h1 class="create">Login</h1>
        <input class="loginInputs" type="text" placeholder="email" ng-model="user.email"/><br/>
        <input class="loginInputs" type="password" placeholder="password" ng-model="user.password"/><br/>
        <button class="loginSubmit">Login</button>

    </form>
    <p class="toggler" ng-click="toggleRegister()">Create Account</p>

</div>
</div>