<div class="pageLinks">
   <button class="pageLink"><a class="submitLink" href="/#/data">View Data</a></button>
    <button class="pageLink"><a class="submitLink" href="/#/charts">View Chart</a></button>
</div>
<div ng-controller="pageOneCtrl">

 <div class="timesContain">
    <p class="question">How many times did you poop today?</p>
    <div class="buttonContain">
     <button class="timeButton" ng-click="setValue(0)"><a href="/#/pageTwo"><p class="timeText">0</p></a></button>
     <button class="timeButton" ng-click="setValue(1)"><a href="/#/pageTwo"><p class="timeText">1</p></a></button>
        <br/>
     <button class="timeButton" ng-click="setValue(2)"><a href="/#/pageTwo"><p class="timeText">2</p></a></button>
     <button class="timeButton" ng-click="setValue(3)"><a href="/#/pageTwo"><p class="timeText">3</p></a></button>
        <br/>
     <button class="timeButton" ng-click="setValue(4)"><a href="/#/pageTwo"><p class="timeText">4</p></a></button>
     <button class="timeButton" ng-click="setValue(5)"><a href="/#/pageTwo"><p class="timeText">5</p></a></button>
    </div>


</div>



</div>
